*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}
/* regola di reset */

.row{
    display: flex;
}

.container{
   /* width: calc(100% / 7 - 12px); */
   
   /* gap: 12px; */
   /* max-width: 1000px; */

   /* test */
   
  
    
   background-color: black;
}

.container-imgs{
    /* width: calc(100% / 7 - 13px ); */
   
    /* test */
    
    gap: 13px;
    width: 60%;

   margin-left: auto;
   margin-right: auto;

   margin-bottom: 5px;

}

.container-imgs:first-child{
    padding-top: 54px;
    
}

    


.user img{
    width: 100%;
    /* height: 100%; */
}

/* main-bar */

.main-bar{
    background-color: #222222;

    color: white;
}

.main-bar .container-bar{
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 30px;


}

.container-bar{
   border: 1px solid red;
    /* test */
    


}

.Mic .Cam {
    display: inline-block;
}

.container-bar .Function .icon{
    display: inline-block;

    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 25px;

    
}