*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}
/* regola di reset */
body{
    font-family: sans-serif;
}

/* inizio nav-bare*/
.nav-bar{

   background-color: black;

   justify-content: flex-end;


   
   padding-top: 0;
   padding-right: 0;
   padding-bottom: 10px;

   

}
.nav-Icons{

    
    
    
    


}
.nav-Icons .spaekers{
    display: inline-block;
}




.speakers, .size{
    display: inline-block;

    padding: 10px;

    background-color: #4A4A4A;

    color:white;



}
/* test */


.position-nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    


    z-index: 1;
    
}
.position-main{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    z-index: 1;


}
/* fine nav-bar */



.row{
    display: flex;
}

.container{

    overflow: auto;
 
  
    
   background-color: black;
   padding-bottom: 10px;
}

.container-imgs{
 
    
    gap: 13px;
    width: 60%;

   margin-left: auto;
   margin-right: auto;

   margin-bottom: 5px;

   /* test */
   
   


   /* overflow: auto; */

}

.container-imgs:first-child{
    padding-top: 54px;
    
}

    


.user img{
   /* width: 100vw; */

    /* test */


    /* test */
    
    width: 100%;
    
}
.user{
    position: relative;


}
.agent{
    display: flex;
    
    position: absolute;

    bottom: 20px;

    background-color: rgba(220, 220, 220, 0.5);
    color: white;
}

/* main-bar */

.main-bar{
    background-color: #222222;

    color: white;
}

.main-bar .container-bar{
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 30px;


}


    


}
.icon, .Mic, .Cam{
    text-align: center;
}
.fa-share-square-o{
    color: #70C53A;
}
.container-bar .chevron{
    font-size: 8px;
}

.icon .text-icon, .Mic .text-icon, .Cam .text-icon{
    display: block;
    padding: 5px;

    font-size: 12px;
}

.Mic {
display: inline-block;
padding: 10px;
}
.Cam {
display: inline-block;
padding: 10px;

}
.container-bar .Function .icon{
    display: inline-block;

    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 25px;

    
}

.container-bar .Audio-video .Mic, .container-bar .Audio-video .Cam {
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 25px;

}

.End-call{
    background-color: #4A4A4A;
    
}
.quit{
    color:red;
}
